<section>
  <div class="topics">
    <button class="active">All</button>
    <button>Live</button>
    <button>React.js</button>
    <button>Angular</button>
    <button>Vue.js</button>
    <button>Music</button>
    <button>Docker</button>
    <button>Gaming</button>
    <button>C#</button>
    <button>React Native</button>
    <button>Expo</button>
    <button>GraphQL</button>
    <button>Node.js</button>
    <button>PHP</button>
    <button>Jest</button>
    <button>Prisma</button>
    <button>TypeScript</button>
    <button>CSS</button>
    <button>HTML</button>
  </div>
  <div class="videos">
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
    <app-video-list-item
      videoTitle="FRED FAZ, MANCHESTER UNITED VENCE FOREST DE DANILO E SCARPA E VAI À FINAL | COPA DA LIGA INGLESA"
      ownerName="ESPN Brasil"
      ownerAvatarUrl="https://yt3.ggpht.com/ytc/AL5GRJXU9xIN8OaV6YTc4dQhbLsajrOHjLO_jSkHjdC_z2M=s68-c-k-c0x00ffffff-no-rj"
      thumbnailUrl="https://i.ytimg.com/vi/LXn0S03WMHU/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBftvY0h2S4wII9bRwaWvoyDA27dg"
    ></app-video-list-item>
  </div>
</section>
