<aside>
  <ul>
    <li class="active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </li>
    <li>
      <svg
        viewBox="0 0 24 24"
        preserveAspectRatio="xMidYMid meet"
        focusable="false"
        class="style-scope yt-icon"
        width="24"
        height="24"
        style="pointer-events: none; display: block"
        fill="currentColor"
      >
        <g height="24" viewBox="0 0 24 24" width="24">
          <path
            d="M10 14.65v-5.3L15 12l-5 2.65zm7.77-4.33c-.77-.32-1.2-.5-1.2-.5L18 9.06c1.84-.96 2.53-3.23 1.56-5.06s-3.24-2.53-5.07-1.56L6 6.94c-1.29.68-2.07 2.04-2 3.49.07 1.42.93 2.67 2.22 3.25.03.01 1.2.5 1.2.5L6 14.93c-1.83.97-2.53 3.24-1.56 5.07.97 1.83 3.24 2.53 5.07 1.56l8.5-4.5c1.29-.68 2.06-2.04 1.99-3.49-.07-1.42-.94-2.68-2.23-3.25zm-.23 5.86l-8.5 4.5c-1.34.71-3.01.2-3.72-1.14-.71-1.34-.2-3.01 1.14-3.72l2.04-1.08v-1.21l-.69-.28-1.11-.46c-.99-.41-1.65-1.35-1.7-2.41-.05-1.06.52-2.06 1.46-2.56l8.5-4.5c1.34-.71 3.01-.2 3.72 1.14.71 1.34.2 3.01-1.14 3.72L15.5 9.26v1.21l1.8.74c.99.41 1.65 1.35 1.7 2.41.05 1.06-.52 2.06-1.46 2.56z"
          ></path>
        </g>
      </svg>
      <span>Shorts</span>
    </li>
    <li>
      <mat-icon>subscriptions</mat-icon>
      <span>Subscriptions</span>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <ul>
    <li>
      <mat-icon>video_library</mat-icon>
      <span>Library</span>
    </li>
    <li>
      <mat-icon>history</mat-icon>
      <span>History</span>
    </li>
    <li>
      <mat-icon>smart_display</mat-icon>
      <span>Your videos</span>
    </li>
    <li>
      <mat-icon>schedule</mat-icon>
      <span>Watch later</span>
    </li>
    <li>
      <mat-icon>thumb_up</mat-icon>
      <span>Liked videos</span>
    </li>
    <li>
      <mat-icon>expand_more</mat-icon>
      <span>Show more</span>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <span>Subscriptions</span>
  <ul>
    <li>
      <img
        src="https://github.com/fellipeutaka.png"
        alt="Fellipe Utaka photo"
      />
      <span>Fellipe Utaka</span>
    </li>
    <li>
      <img
        src="https://github.com/fellipeutaka.png"
        alt="Fellipe Utaka photo"
      />
      <span>Fellipe Utaka</span>
    </li>
    <li>
      <img
        src="https://github.com/fellipeutaka.png"
        alt="Fellipe Utaka photo"
      />
      <span>Fellipe Utaka</span>
    </li>
    <li>
      <img
        src="https://github.com/fellipeutaka.png"
        alt="Fellipe Utaka photo"
      />
      <span>Fellipe Utaka</span>
    </li>
    <li>
      <img
        src="https://github.com/fellipeutaka.png"
        alt="Fellipe Utaka photo"
      />
      <span>Fellipe Utaka</span>
    </li>
    <li>
      <img
        src="https://github.com/fellipeutaka.png"
        alt="Fellipe Utaka photo"
      />
      <span>Fellipe Utaka</span>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <span>Explore</span>
  <ul>
    <li>
      <mat-icon>whatshot</mat-icon>
      <span>Trending</span>
    </li>
    <li>
      <mat-icon>music_note</mat-icon>
      <span>Music</span>
    </li>
    <li>
      <mat-icon>movie</mat-icon>
      <span>Movies</span>
    </li>
    <li>
      <mat-icon>rss_feed</mat-icon>
      <span>Live</span>
    </li>
    <li>
      <mat-icon>sports_esports</mat-icon>
      <span>Gaming</span>
    </li>
    <li>
      <mat-icon>newspaper</mat-icon>
      <span>News</span>
    </li>
    <li>
      <mat-icon>emoji_events</mat-icon>
      <span>Sports</span>
    </li>
    <li>
      <mat-icon>emoji_objects</mat-icon>
      <span>Learning</span>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <span>More from YouTube</span>
  <ul>
    <li>
      <mat-icon>home</mat-icon>
      <span>YouTube Premium</span>
    </li>
    <li>
      <mat-icon>history</mat-icon>
      <span>Creator Studio</span>
    </li>
    <li>
      <mat-icon>video_settings</mat-icon>
      <span>YouTube Music</span>
    </li>
    <li>
      <mat-icon>video_settings</mat-icon>
      <span>YouTube Kids</span>
    </li>
    <li>
      <mat-icon>thumb_up</mat-icon>
      <span>YouTube TV</span>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <ul>
    <li>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </li>
    <li>
      <mat-icon>flag</mat-icon>
      <span>Report history</span>
    </li>
    <li>
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </li>
    <li>
      <mat-icon>feedback</mat-icon>
      <span>Send feedback</span>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <ul id="footer">
    <li>About</li>
    <li>Press</li>
    <li>Copyright</li>
    <li>Contact us</li>
    <li>Creators</li>
    <li>Advertise</li>
    <li>Developers</li>
    <br />
    <br />
    <li>Terms</li>
    <li>Privacy</li>
    <li>Policy & Safety</li>
    <li>How YouTube works</li>
    <li>Test new features</li>
    <li>
      <span>&copy; {{ currentYear }} Google LLC</span>
    </li>
  </ul>
</aside>
